<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Read - me</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Documentos
                </div>
                <div class="panel-body">
                    <h3>
                        <a href="https://drive.google.com/file/d/1gQLP2zo92-bnoUig4i7K_YJEwSIaXtnJ/view?usp=sharing" style="color:black">data</a>
                    </h3>
                    <h3>
                        <a href="https://drive.google.com/open?id=1gIQClQAWOmVx-PaU2x-uB63c-hAbylb8" style="color:black">dist</a>
                    </h3>
                    <h3>
                        <a href="https://drive.google.com/open?id=1P3PJZNU723ANEnKAFHvoXbJCuJntfnj8" style="color:black">js</a>
                    </h3>
                    <h3>
                        <a href="https://drive.google.com/open?id=1_rnuXIkEGkAuDmLoggkfUT2mojLyD2TN" style="color:black">less</a>
                    </h3>
                    <h3>
                        <a href="https://drive.google.com/open?id=1ju_otV7eifuvGdCrPzO2xkHfJvfsI8zF" style="color:black">vendor</a>
                    </h3>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>       
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Code  
                </div>
                <div class="panel-body">
                    <p>
                        Necessário para a utilização dos componentes
                    </p>
                    <pre><code>
    &lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
    &lt;meta name=&quot;description&quot; content=&quot;&quot;&gt;
    &lt;meta name=&quot;author&quot; content=&quot;&quot;&gt;
    &lt;title&gt;title&lt;/title&gt;
    &lt;!-- Bootstrap Core CSS --&gt;
    &lt;link href=&quot;~/vendor/bootstrap/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;!-- MetisMenu CSS --&gt;
    &lt;link href=&quot;~/vendor/metisMenu/metisMenu.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;!-- Custom CSS --&gt;
    &lt;link href=&quot;~/dist/css/sb-admin-2.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;!-- Morris Charts CSS --&gt;
    &lt;link href=&quot;~/vendor/morrisjs/morris.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;!-- Custom Fonts --&gt;
    &lt;link href=&quot;~/vendor/font-awesome/css/font-awesome.min.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
    &lt;!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --&gt;
    &lt;!-- WARNING: Respond.js doesn&#039;t work if you view the page via file:// --&gt;
    &lt;!--[if lt IE 9]&gt;
    &lt;script src=&quot;https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js&quot;&gt;&lt;/script&gt;
    &lt;![endif]--&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://use.fontawesome.com/releases/v5.4.1/css/all.css&quot; integrity=&quot;sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz&quot; crossorigin=&quot;anonymous&quot;&gt;
    &lt;/head&gt;
</code></pre>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
